In [2]:
import requests
import pandas as pd

In [3]:
df = pd.read_csv("2024-2025-data.csv")
print(df.shape)
df.head()

(118, 67)

,Department,7/1/2024,7/8/2024,7/15/2024,7/22/2024,7/29/2024,8/5/2024,8/12/2024,8/19/2024,8/26/2024,...,8/25/2025,9/1/2025,9/8/2025,9/15/2025,9/22/2025,9/29/2025,10/6/2025,10/13/2025,10/20/2025,10/27/2025
0,Accountancy,25,22,17,17,18,12,4,6,45,...,53,173,217,259,266,231,218,236,249,200
1,Advertising,4,1,4,2,2,0,3,2,36,...,41,148,172,229,304,278,290,320,270,282
2,Aerospace Engineering,12,13,7,10,5,5,5,7,59,...,103,133,120,146,180,193,183,186,116,104
3,African American Studies,1,0,0,0,0,0,0,1,2,...,0,0,1,1,2,0,0,1,3,3
4,Ag Ldrshp Educ Comm Program,1,1,3,1,1,1,1,1,4,...,7,4,3,12,5,7,7,9,3,6

In [4]:
print(df["Department"].unique().size)
df["sum"] = df.sum(axis = 1, numeric_only = True) 
df_sum = df[["Department", "sum"]]
df_sum

118

                        Department   sum
0                      Accountancy  7829
1                      Advertising  8249
2            Aerospace Engineering  4414
3         African American Studies    60
4      Ag Ldrshp Educ Comm Program   449
..                             ...   ...
113  Translation & Interpreting St     3
114       Undergraduate Admissions    60
115      Urban & Regional Planning  1319
116          Vet Clinical Medicine     2
117    Vet Medicine Administration    88

[118 rows x 2 columns]

In [5]:
df_colleges = pd.read_csv("degree-college.csv")
df_colleges.columns = ["Degree", "College"]
df_colleges

                                                Degree College
0                                    Adult Development    ACES
1                                      Agri-Accounting    ACES
2                    Agribusiness Markets & Management    ACES
3    Agribusiness and Sustainable Food Production E...    ACES
4                     Agricultural & Applied Economics    ACES
..                                                 ...     ...
507                                       Pathobiology  VETMED
508  Veterinary Medical Science - Comparative Biosc...  VETMED
509          Veterinary Medical Science - Pathobiology  VETMED
510  Veterinary Medical Sciences - Veterinary Clini...  VETMED
511                                Veterinary Medicine  VETMED

[512 rows x 2 columns]

In [6]:
import re 
def clean_text(s: str) -> str: 
    if pd.isna(s) : 
        return ""
    s = s.lower()
    s = s.replace("&", "and")
    s = re.sub(r'[^a-z0-9\s]', " ", s)
    s = re.sub(r'\s+', " ", s).strip()
    return s

In [7]:
df["cleaned_department"] = df["Department"].apply(clean_text)
df_colleges["cleaned_degree"] = df_colleges["Degree"].apply(clean_text)

In [8]:
from rapidfuzz import process, fuzz

degree_choices = df_colleges["Degree"].unique().tolist()

def best_degree_match(cleaned_department: str, cutoff: int = 80): 
    if not cleaned_department: 
        return None
    match = process.extractOne(
        cleaned_department, 
        degree_choices, 
        scorer = fuzz.token_set_ratio, 
        score_cutoff = cutoff
    )
    if match is None: 
        return None
    # tuple unpacking for output of match; "_" gets the index value which doesn't matter
    best_str, best_score, _ = match
    return best_str
df["degree_college_match"] = df["cleaned_department"].apply(best_degree_match)

In [9]:
pd.set_option('display.max_rows', None)
df[["cleaned_department", "degree_college_match"]]
#pd.reset_option('display.max_rows')

                   cleaned_department             degree_college_match
0                         accountancy                      Accountancy
1                         advertising                      Advertising
2               aerospace engineering            Aerospace Engineering
3            african american studies         African American Studies
4         ag ldrshp educ comm program                             None
5          agr and consumer economics                             None
6       agr consumer and env sci admn                             None
7       agr consumer and env sciences                             None
8    agricultural and biological engr                             None
9                     animal sciences                  Animal Sciences
10                       anthropology                     Anthropology
11         applied health sci courses                             None
12      applied health sciences admin                             None
13                       architecture                     Architecture
14                     art and design                             None
15             asian american studies           Asian American Studies
16                          astronomy                        Astronomy
17                       biochemistry                     Biochemistry
18                     bioengineering                   Bioengineering
19            business administration          Business Administration
20    carle illinois com pgm and crse                             None
21     cell and developmental biology     Cell & Developmental Biology
22        center innov in teach learn                             None
23         center for african studies                             None
24     chemical and biomolecular engr                             None
25                          chemistry                        Chemistry
26        civil and environmental eng                             None
27                           classics                         Classics
28    climate meteorology and atm sci                             None
29                college of business                             None
30             college of media admin                             None
31                      communication                    Communication
32   comparative and world literature   Comparative & World Literature
33            comparative biosciences          Comparative Biosciences
34                      crop sciences                    Crop Sciences
35         curriculum and instruction         Curriculum & Instruction
36                              dance                            Dance
37      div exploratory studies admin                             None
38          div general studies admin                             None
39     e asian languages and cultures                             None
40   earth sci and environmental chng                             None
41                          economics                        Economics
42     educ policy orgzn and leadrshp                             None
43           education administration                             None
44             educational psychology           Educational Psychology
45        electrical and computer eng                             None
46         engineering administration                             None
47                engineering courses                             None
48                            english                          English
49                         entomology                       Entomology
50         evolution ecology behavior                             None
51                            finance                          Finance
52        fine and applied arts admin                             None
53      fine and applied arts courses                             None
54   food science and human nutrition   Food Science & Human Nutrition
55                 french and italian                             None
56         gender and women s studies                             None
57                  geography and gis                             None
58         germanic languages and lit                             None
59    global studies prog and courses                             None
60                     graduate admin                             None
61             health and kinesiology                             None
62                            history                          History
63    human dvlpmt and family studies                             None
64     illinois informatics institute                             None
65    industrialandenterprise sys eng                             None
66               information sciences             Information Sciences
67        inst of communications rsch                             None
68                         journalism                       Journalism
69                 las administration                             None
70             landscape architecture           Landscape Architecture
71   latin american and carib studies                             None
72              latina latino studies            Latina/Latino Studies
73                                law                             None
74          liberal arts and sciences                             None
75                      life sciences                             None
76                        linguistics                      Linguistics
77   materials science and engineerng  Materials Science & Engineering
78                        mathematics                      Mathematics
79     mechanical sci and engineering                             None
80           media and cinema studies                             None
81                       microbiology                     Microbiology
82    molecular and integrative physl                             None
83                              music                            Music
84            natural res and env sci                             None
85               neuroscience program                             None
86        nuclear plasma and rad engr                             None
87               nutritional sciences             Nutritional Sciences
88            office of the registrar                             None
89                       pathobiology                     Pathobiology
90                         philosophy                       Philosophy
91                            physics                          Physics
92                      plant biology                    Plant Biology
93                  political science                Political Science
94                         psychology                       Psychology
95       recreation sport and tourism      Recreation, Sport & Tourism
96                           religion                         Religion
97      russian e european eurasn ctr                             None
98        sch earth soc environ admin                             None
99      school of integrative biology                             None
100      school of labor and empl rel                             None
101  school of molecular and cell bio                             None
102             school of social work                             None
103   siebel computing anddatascience                             None
104   siebel school comp and data sci                             None
105   slavic languages and literature   Slavic Languages & Literatures
106                         sociology                        Sociology
107            spanish and portuguese                             None
108                 special education                Special Education
109        speech and hearing science         Speech & Hearing Science
110                        statistics                       Statistics
111       technology entrepreneur ctr                             None
112                           theatre                          Theatre
113   translation and interpreting st       Translation & Interpreting
114          undergraduate admissions                             None
115       urban and regional planning                             None
116             vet clinical medicine                             None
117       vet medicine administration                             None